<!--
  Copyright © 2021 Durudex

  This file is part of Durudex: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  Durudex is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with Durudex. If not, see <https://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Poppins:wght@400;500;600&display=swap');

    * {
      padding: 0;
      margin: 0;
      font-family: 'Montserrat';
    }

    .container {
      background: linear-gradient(169.94deg, #BA03FB 0%, #2200F1 98.14%);
      padding: 60px 50px 60px 50px;
      align-content: center;
    }

    .content {
      margin: auto;
      border-radius: 30px;
      width: 480px;
      background-color: #FFF;
      text-align: center;
      padding-top: 30px
    }

    .sign_in {
      margin: auto;
      padding-top: 45px;
      max-width: 450px;
      padding-bottom: 60px;
    }

    .sign_in span {
      font-size: 25px;
      font-weight: normal;
    }

    @media only screen and (max-width: 620px) {
      .container {
        padding: 60px 0 60px 0;
      }

      .content {
        width: auto;
      }

      .sign_in {
        padding: 40px 5px 50px 5px;
      }

      .sign_in span {
        font-size: 20px;
      }

      .durudex-logo {
        width: 300px;
        height: 65px;
      }
    }

    @media only screen and (max-width: 350px) {
      .container {
        padding: 50px 0 50px 0;
      }

      .sign_in {
        padding: 30px 4px 30px 4px;
      }

      .sign_in span {
        font-size: 15px;
      }

      .durudex-logo {
        width: 250px;
        height: 55px;
      }
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="content">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVQAAABLCAYAAAAvZX9PAAAACX
        BIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAABIPSURBVHgB7Z0JmB
        zFdcf/1TO7c+zqAnEYLaeBzwEbYmM7wQ6xLPKZ+OCIzRpWuyvJyHwmSmQkLEcxoItL9hdzBCwMCqBjD8
        msHYJNHGRLIBMI4GCuWETkk5AQCsgCoWt3dmY105V/7SDFyNqu7pmemdXM++kb9e7O6+numqpXr96rVw
        UIgiAIgiAIgiAIglCFKJSJdvQvdIFjET5pPsRuDb3LgbsFcLbkMLCuG6N3QhAEoYyUTaG2IfUCL/fHKA
        97+GAva+ApjdwvB/DztT34ag6CIAglpFoV6sG86QAdWWQW03J9DYIgCCXAQW1wHN0Nsx3ENlKxL7oc/S
        dBEAQhZGpFof4ealqUroBWpKdBEAQhRGpQoQ5ynIJe1Ib+70IQBCEkalWh7mc2leq/ArpsvmRBEKqXWl
        eohi+0IfMgBEEQikQU6iD60nakZ0IQBKEIRKEeQC9swZ4PQRAEoUBEob6HBmIR1N0HQRCEAilbMMbM/V
        TYF/cjG4WK5viyySmoOvYJI6kMxzFqf6YD9Sf8+TwU0VGwQM7vQOIxCIIgBKTqotut2HuGQnQWTHIWUI
        eAsEAep0KdAEEQhIBU7XShSeg9K4fIw3zAkxCMXAwDR9+PUe96CTVD18eRftVLxoV+tgvJy1EEbUivov
        V9uodILzuAj3i8z3tNnxoDehAqOsMRwl4XaqtCbp1G9ukujHwKRTIR/VM4vJiMCpBDbtUKNA45N7kFqT
        +LQN2I4kiz2fVyJLU1AvcNF+4r/P2lTjS8hZCYgp2js4g/hArhIj6lG+r1g//ehv4f8XC097lY0Y3EYh
        RBC9LTItDNXjIs/1e7kLgKIWMdVh+uLEfjy23o+xRH/0/z1xMDnBrJoP5iHpd4CTXwg7MWZU2FsxlFwg
        7hBO15HbULFurgNFJdhL6OguY/ZaqmeVJehQ1mExvEHDaILhSIA/ck/j8eFYAuI88Oko2liU87HkWjBy
        0Zd/D/yOBf2HE+r5G7h66uR1ci+QaKII346Ggo9xkurC89rCmeHTsV4ZnN2N7dg6N7UQCTkBpHQ2Yufz
        wG3vcyGyWgqoNSptenBfAVNoJssDPVhRAK4WRWqM529K+R9RKCoj+m4Cxm/GBLKzI3tiLVhCqDo7Ufsy
        0+7SXDruaoGEYuQIGwk7oFVmWKnm4kf40SUPVR/m40/IZW1L8EOgn6XAgFwwo7gRbSWg7fT4EQGAX3el
        pyz7YhcwmqDBfZK+0Gjp7ejHdPQEBa0WtcX5MsYgO8/rdRImpk2pTzHQTj2KnYfQSEYjiRg9k1ZggGoR
        COo/p5iNb+XFQRKzBiHZWObXpiXQzJBxAQWvg+XE3qH+mSeh0loiYUaifiG3j43yDnpKCOhlAUxvdLn+
        BSCAXDMlxApRrUIBjmZOfxyXZ4y+jzW7DX92wbltFUKkvP4CzLcnMHYiXxne6nlib2rwsizGhuKbZrqT
        kYdvmLdqSKmulQ61AR3FxNZdiBEdsZFJpnk4sg2jUFm6xz15ux9ygGQ62fR4t/Ol0pGiWklhTq9iDCOT
        ijIYQCAw1/DaEYqAXUbV+CTqJK6ELDIh5+ZRE7NofjZlhkUI/oN9lxH+8lQ0W6mtd8BCWmaqdNHYyGm1
        OSaevFBnbdT/oXV00M9pkhmZ9C/fN29H28Aw3PIQR43UcYzX0HoeMEeP5DwzJ8hof1Q7xdz3sfpeGcZD
        L7EIwPjELKJKzcgBAww18e1qIE1AO7/Um619AOfYp3M6QVynY7pw19y4aap5vPwMT18CbHShr6nNNDUT
        MKVfCGFXcNe/BAlc5U5ij0g1Rxn7DJckhm5vaGolCzcBetQOOjGJboH3UheYdNKl92+Czlp7H8Pg4fKE
        RmtmPbrR04tg9FM5h08jVUECrJ59uQNsEnr90zkjSEbuJx6qHejJop5xboXrhnGRIbUQbEZBMKZiUSm7
        PQl9DasVqLDiJnQziAKbtOJJacioSZojff31l6tMaYv0QVwc7RZKb9zkuG9euKSdj72YP/3orUpciv3e
        F17uYUcqFY9X4QhSoUxUo0vEkL4Hs2OR18iFsTzIfKUrEuYAl9y488XQUTUUWYrDDWjdtsci7qbm/G9s
        b9v1+Et0ewNP7Bdp6Ce/NDDIKhTIhCFUJA/bMPIZmG5kEnkkap/IdNTldl0kniHtahl71l9NkxNBxYBH
        4URnzdvk6HeimD5BKUkbL5UFuRvkohF8pUJBZklgGOm1BBNvMexkFb5geqragB3kR8S5NZ88ObRggW3F
        to49gi0R9oxY6RXThyD6qELqg9rei/hu16tZccg3kzL0ff/SyjenYsc2DBhZ7VA5VDGSmbQqXp/Q0WRC
        gLdOjBFXtQUYW6lkM1HmTXVCE0diC5eizSGbPYuZecQtRY+1WjUA1dSKxpQ78JMA2ZOkqFOyYK5xadH1
        mP8f5ELOtGYjXKjAz5haJpQuaDPsT2QfDk36AytKqsGX0adWNRhWSQm62hbDMYJiuTGOWJ2p31HegLF1
        GoQgjYp/3ogKm/tYryYXnSdeZr54vDjR40buNAveiRp0buOjOLAhVAFKpQFM14MMJGYF10mdHp1yAIFu
        qQuIP+0WJiD5sGkPwnVAhRqELBmOBIDF/q5o8n+xD/LwiChaVQaReqDQXiwp3JQNQAKoRkSgmDKDjntK
        Fvvv8zIkdxcHUZfzjSjzQbycMIiQgisxkVvgwhMIC90wtdHf5wRkF9mmUYypQiKrGHV6Ah4JrDQ7MCiV
        +1IfVT3uVFQc6ju2RVNxpCq2eFIApV2A/9oI6vFMg8gRbt+Z/TEbcthBGE8eFthpY0U99qTqGSJmW2nw
        oB+nzM+qKhKVRDBpgWgxrPejbS5ym5fWXK1/dChvxCyXGBW+dDuRAEn/QgySCmPYNqPyYjqlKBqN+njA
        rVEWu4BqEVtF4htRKCEJAM4rea3WFtcvmVs9xFGAaUTaEqcS/UIHqXC+cr1ZTVI5SVAcffBpuj0tiXwT
        BgGCs5bZZ6G6J3qlwUbz/joaPj0P+3XjIKenNniM76w4wBDT2xC7FXIAgFEEd6vrbm6+czqOJImlTUWa
        gwZVOoGm568NF9Yvxu3UgO26HiSSy7LNTt3lJqLUJ21h8mbNXIXtCFEaJMhYIw68VSmf6dX3l23jNbkL
        lvBWLrUUFqJiil4MSCyDuI+BlqCO9D7WHHuXAP4meIMhWKIQplfKKRAKc4EeiK+1FraAsUNVYFmOqjsK
        8Wp9IUyj6zCDDQ99My+Uu3Kn++NWFI9C4FtQsh4Ib0OftpRerTvL8vIDB6QjvSF3QgvgoVomYUKhugnw
        U8DhB2JRn+uPdHsf19PuE+RFUMRz7D0jvLcnKdA6epo0zBpxxyVw7fLVAOD9gBrupEYljupKqK2npc39
        OM7R+pVLJGTSjUy5A+nQXtJz3yAPswsAk1BBtYdilO/oNFTdvR/03tYzM3DvW/MxG77u3G6J0QhAJpQd
        /XeTgVBWKCWHGMMDulVmR5z5rwodYDM4PI80t5swdH+Ny5cWjCmCpGZ3vU+xq6pBPmO5AwGU5rfIiOVI
        jdC0EokHakTogiYt3WBJY0PTaIOXkjqvxUvULNRwv1lYFOgv53m4RZxEFb/Hj02/rKc7fcy1jvayCFEu
        Pmd5zst8mxA2luQ+pTEIpAjbJKVGnA1IUzi211tEVqOWU8lS7rYT2NqIWoAFWtUC9H6vg64HEEixYaJf
        UTP3L84t61fNLx5+C5OhRIC3qP4VUsFQzbUGK6kXjdhdvlT1rdOR9aUpoLoBlvJHg4wSaXRda6y+zhRj
        v2fpijrekWsbeycObVI/F95NcPGBIq3S+3Iv15lJmqrfgt2Hsmx8o/8zMx+CDMGNu6WZqBznOLQkXjGf
        jwBBQIhz+fs0u5ZfJZDu6N7uda52xA/6UQAsMA4IXw0fnHsGMzqgyN6B02GQX3AZOvvwTqbXdw/y2bvL
        5xitXiDZeqU6jGKmUg5aYIor9lkRayF/yjywcXZrDjQj9vk2FPeQ0KhEPta20ydCu8gDJgrFQe7vQjy3
        u6vdwVuTpQ1kAKO/H1hwoeHs5MRO8UHs63iG1hizhQ/3YiuYyH/7acc04WqRkoI8M2yq/gHGn8n14yMW
        QiA4g2ROGYqODpbMgX0CL9jA6SknUQLnJWJbYfB+5jGo5tn/TP0a/41U4kH0QA2Clcz+f4kF3S9RMwCo
        VOxBe0oX8Ki/dELzkW/nFZZObyx4I7k1qjDZl5/C5Ps8lpuL9BFdGKVJMDNc82Q5zvX9eJEdv3/27235
        qI/qtoEVqWhVQzJiPdsQzxjSgDZVwcxQm0Dw7N9R9Q22/yeuUQ2xBB5CUq0p/wZZzQZp3MIpbK1I91o/
        FF39LAz/1JqiVUROfBJ20YmMTPtm4rws/N1OHtJ1A2lPZjReXRMyYibVUQtc5F0CPakb6NynS+H3l24M
        tRRThwpvtwyz3ThUTnwX/kqMnUfUt5qFEcSd6MMiHBg/+nPws1NcgJnWh4i5Xh1z5Ek3w90Yb0HV7TOV
        qQOYsyPUBuGXzhri738K8TiftgtQoGUaxc34NwCLSawtEXFenMUejfYvLQfZ74Whfiv0CVQAvzRD771T
        Y5heyQs3RcZGaYlGeP043hc1kLUueiDMiSeu9Bi/i6lUhuRmBydzOO8El/svpqhvyvprVqNqzbSFN6F7
        /sHI+M5uOPOJw7FgHged9FBeB1b+B9r4Z1NKD/qh29F3SgMdRUQAbrfsiOJ/RMNrp7Hu5Gw3wUAX2c3+
        K9TR5aQjcCmaOzwMj8dMogAyr3+wgJ3uf5vM+S+N9dxC7phnrdJsd7oGWuPdfYYJu4l0P93w71vkkkod
        tgnrIsVBSBY/L8P4YSIwp1EH13B5K3owBOQ0PHRqT/3p+/8wCnmNd+v1GgzUTegxXolx1IPIkKwOs+xk
        r8Y95Ds03WRWReM/QTPVDWeax+yQ8RCyk1b6jankXxNPHemrxFgt87XVrru9DwQ4THWNsc51IyEX0X04
        j5skVsTwTK6vo6DYk7N6D/a94p0vqjrLPTu5C8CyWkbEN+16RgD0M45LiTAaO/QYHMh3Jp2ViHLWHChp
        9ik5yGCkKfuK/gHe/13Hr02+YXCt68zXK8BFWDpjvIsW5vQt/nHD8zbkwbZHv4hk2OdfaGUs8+KWNQyt
        2H4ceNA0gUHYnuQuMv2Nta59GFBTunWxhx34AKkr++fS6ggZbstydi1xgIheCybs1geb+KKqEVabMY9C
        kWsU3dSPqapmeg5WkW8fmZt5QenUVmCUpIrQalNrhwv8gAy1wORUOxnOkymKlNRmqJMf5LRjzLFrX0Io
        Ok2fPHT9bO2AjicyEEZXsOuoV1qxtVQjNS45SP0VUE2QsRkDrEppplCb2l9MWlTI+uMYVqFkDGDQ72/S
        mDDz6nPPnnNMSn0pooUaBI9fHer12O+HwME9gZvetA+5jeNehauapSC1YcpqzNwZmwIuD85eFOPRyzbf
        cxXjIMRC1dhhHrEJB8BhVsxgb1uXP3eMuiQ4VSKwp1k1lJnq8zad3NW46RO1ACjC+nI7/P+xX5nRhD4z
        +puC7kvS9Ug3NBhxOJ+/3sTEniddCyGpUFluUr7JSvSSL+xRWIBVYqw5nJSH+Qz2aLV+xkR7IABVKP3/
        3A7LTrLaXPHod0SdaCrVaFavavetFE7+mCuphD+1MYIb2WfhY/Db9oeL0ldUh/lFbZLPuX68mTGPSfJT
        65HInHMQzpoOUM//N3x7ei/woIB7ON3/NK1pdmdppnmhkni6FKvopYucmZBCcrerHJ10eBmHnZLMd5Nj
        kaJnc1Y/cRCJkyTpvSz/IxQlsZiYWWzW+DoXqpNDOM4G2jX3SrQuSNMYitvguqotvKLsUY48u51bzasO
        c8jcjn2X99gl/k8chPrWl4/xlqN5/JpNa9yF7uZT7Tox1oeA4hsA9ubwywrHAf8Z0hdjBmsnkb+u7j8z
        XZpV2TMfbAUO9qOBuU9V5LhXcZ5OC+4yBSxL1pdvQO62xuN7/vd/h9b85BvbASyTCmax0gwrbBz6/Yjg
        b1wB+sJZz3W2qT/umRAqp6T0Xcd+r3UJg0b17vM/w8j8CX5n3GjC/1EYRIEWmaQjEYH85ooNH8TM3bux
        ZK9kgSBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEEQBEGoDv4PvAdNHyqbmV
        EAAAAASUVORK5CYII=" alt="durudex" class="durudex-logo">
      <div class="sign_in">
        <span>You are logged in to you account with IP: <b>{{.IP}}</b>.
        If it wasn't you, change yout account password immediately!</span>
      </div>
    </div>
  </div>
</body>
</html>
